name: Docker

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: replace .env file
      run: |
        php -r "copy('.env.docker', '.env');"
    - uses: actions/checkout@v2
    - name: Run docker-compose
      run: docker-compose up -d
    - name: Sleep for 10s
      uses: juliangruber/sleep-action@v1
      with:
        time: 10s
    - name: database migration
      run: docker exec web php artisan migrate
    - name: database seed
      run: docker exec web php artisan db:seed
    - name: unit testing
      run: docker exec web /vendor/bin/phpunit
